@use 'sass:color';

$primary-bg-color: #fdfdfb;
$primary-color: #333;
$header-color: #2a2a2a;
$bg-color: #fff;
$link-color: #5c4dff;
$link-hover-color: #2c2caa;

$button-text-color: #fff;
$button-color: #5c4dff;
$secondary-button-color: #4caf50;
$button-hover-color: #3b39b9;
