@use 'sass:color';

/* Updated colors */
$primary-bg-color: #f3f3f3;
$primary-color: #161616;
$logo: #9B9492;


$header-color: #2a2a2a;
$link-color: #5c4dff;
$link-hover-color: #2c2caa;

$button-text-color: #fff;
$button-color: #5c4dff;
$secondary-button-color: #4caf50;
$button-hover-color: #3b39b9;
