@use 'colors';

@mixin button($bg-color, $text-color) {
  border-radius: 8px;
  background-color: $bg-color;
  color: $text-color;
  padding: 1rem;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

/* Transparent Buttons with Gradient Borders */
@mixin button-gradient($bg-color, $text-color, $is-transparent: false) {
  cursor: pointer;
  position: relative;
  text-align: center;
  padding: 1rem;
  color: $text-color;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 8px;
    padding: 4px;
    background: $bg-color;
    transition: background 0.3s ease;
    z-index: -1;

    @if $is-transparent {
      mask:
              linear-gradient(#000 0 0) content-box,
              linear-gradient(#000 0 0);
      mask-composite: exclude;
    }
  }
}
