@use 'colors';

@mixin button {
  border-radius: 8px;
  padding: 0.75rem 1rem;
  text-align: center;
  transition: background-color 0.3s ease;

  width: 50%;

  &:hover {
    cursor: pointer;
  }
}

/* Solid Color Buttons */
@mixin green-button {
  @include button;
  background-color: colors.$mantis;
  color: colors.$button-text-color-dark;
}

@mixin fuchsia-button {
  @include button;
  background-color: colors.$fuchsia;
  color: colors.$button-text-color-light;
}

/* Transparent Buttons with Gradient Borders */
@mixin tbutton-gradient {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 8px;
    padding: 4px;
    background: colors.$fuchsia-violet;
    mask:
            linear-gradient(#000 0 0) content-box,
            linear-gradient(#000 0 0);
    mask-composite: exclude;
  }
}

/* Gradient Buttons */
@mixin gradient-button-fb {
  @include button;
  background: colors.$fuchsia-blue;
  color: colors.$button-text-color-light;
}

@mixin gradient-button-fv {
  @include button;
  background: colors.$fuchsia-violet;
  color: colors.$button-text-color-light;
}

@mixin gradient-button-gg {
  @include button;
  background: colors.$green-gray;
  color: colors.$button-text-color-dark;
}
