footer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  margin: 2rem 0;

  .social {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: .5rem;
  }

  .cat-insta {
    display: inline-block;
    height: 64px;
    width: 64px;
    background-image: url('/icons8-fat-cat.png');
    background-repeat: no-repeat;
    background-position: 1px 17px;
  }
}
