@use '@/styles/colors';

header {
  align-items: center;
  margin: 3rem 1rem 1rem;
  width: 100%;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
