@use '@/styles/reset';
@use '@/styles/normalize';
@use '@/styles/typography';
@use '@/styles/colors';
@use '@/styles/mixins';

body {
  background: colors.$primary-bg-color;
  color: colors.$primary-color;
  min-width: 360px;
}

a {
  text-decoration: none;
  color: colors.$blue;
}

p {
  gap: .5rem 0;
}

h1, h2 {
  color: colors.$header-blue;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Hero Section */
.hero {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem 0;
  max-width: 500px;
  width: 100%;

  h1 {
    font-size: 1.5rem;
    text-align: center;
    width: 60%;
    color: colors.$black;
  }

  .text {
    font-size: 1.2rem;
    width: 60%;
  }

  .buttons {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .photo {
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: colors.$primary-color;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .btn {
    @include mixins.gradient-button-fb;
  }

  .btn-solid {
    @include mixins.fuchsia-button;
  }
}
