@use 'colors';
@use '@/styles/buttons';
@use '@/styles/mixins';

.navigation-section {
  position: relative;

  nav {
    background: colors.$primary-bg-color-alpha;
    backdrop-filter: blur(6px);
    transition: height .5s ease-in-out, top .5s ease-in-out;

    position: fixed;
    height: 0;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;

    ul {
      margin-top: 5rem;
      display: flex;
      flex-direction: column;
      gap: 2rem 0;
      width: 100%;

      li {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          width: 60%;

          &.home,
          &.story {
            @include buttons.type-three;
          }
          &.resume {
            @include buttons.type-one;
          }
          &.contacts {
            @include buttons.type-two;
          }
          &.genealogy {
            @include buttons.type-four;
          }
        }
      }
    }
  }

  &.section-is-closed {
    .menu-icon {
      display: block;
    }
    .close-icon {
      display: none;
    }
    nav {
      top: -3000px;
    }
  }

  &.section-is-opened {
    .menu-icon {
      display: none;
    }
    .close-icon {
      display: block;
    }
    nav {
      height: 100%;
    }
  }

  .opener {
    position: fixed;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    z-index: 10000;

    img {
      display: block;
      margin: auto;
    }
  }
}
