@use '@/styles/mixins';

.not-found-container {
  max-width: 900px;
  text-align: center;
  padding: 3rem 2rem;
  margin: 0 auto;
}

.content {
  display: flex;
  align-items: center;
}

.text-block {
  flex: 1 1;
  text-align: center;

  p {
    font-size: 1.1rem;
  }
}

.home-button {
  display: inline-flex;
  text-align: center;
}

.home-link {
  @include mixins.button;
}
